.post{
    background: white;
    border-radius: 8px;
    padding: 2.5rem;

}

.post + .post {
    margin-top: 2rem;
}

.content{
    line-height: 1.6;
    color: #4d4b48;
    margin-top: 1.5rem;
}
.content p{
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: #FAB005;
}
.content a:hover{
    color: #eca500;
}

.post > header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.post > header time {
    font-size: 0.875rem;
    color: #4d4b48;


}
.author{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.author img{
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid white;
    outline: 2px solid #FAB005;
}
.authorInfo strong{
    display: block;
    color: #4d4b48;
    line-height: 1.6;
}
.authorInfo span{
    font-size: 0.875rem;
    line-height: 1.6;
}
.commentForm{
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #c0c0c0;
}
.commentForm > strong{
    line-height: 1.6;
    color: #4d4b48;
}
.commentForm textarea{
    width: 100%;
    height: 6rem;
    background: #d4d3d3;
    border: 0;
    resize: none;
    border-radius: 8px;
    color: #4d4b48;
    line-height: 1.4;
    margin-top: 1rem;
    padding: 12px;


}
.commentForm footer{
    visibility: hidden;
    max-height: 0;
}
.commentForm:focus-within footer{
    visibility: visible;
    max-height: none;
}
.commentForm button[type=submit]{
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: #FAB005;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.commentForm button[type=submit]:hover{
    background: #cd9000;
}